html {
  height: 100%;
  position: relative;
}

body {
  margin: 0;
  /* font-family: 'Jost', 'Arial', sans-serif; */
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  /* background-color: #dbcb86; */
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
